@page
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using BAIS3150WebAppDemo.Pages
@model IndexModel
@{
}
<!DOCTTYPE html>
    <html>
    <head>
        <meta charset="utf-8" />
        <title>Index</title>
    </head>
    <body>
        <a href="~/ControlSample">Control Sample</a><br />
        <a href="~/TestPage">Test Page</a><br />
        <a href="~/DynamicDisplaySample">Dynamic Display Sample</a><br />
        <a href="~/DynamicFormDisplaySample">Dynamic Form Display Sample</a><br />
        <a href="~/ValidationDataAnnotationAttributes">Validation - Data Annotation Attributes</a><br />
        <a href="~/JavaScriptExample">JavaScript Example Page</a><br />
        <a href="~/TestPost">Test Post</a><br />
        <a href="~/JavaScriptFormPost">Java Script Form Post</a><br />
        <a href="~/ValidationClientServer">Validation Client Server</a><br />
        <h2>Example ADO Pages</h2>
        <a href="~/CreateProgram">Create Program</a><br />
        <a href="~/ViewProgram">View Program</a><br />
        <a href="~/CreateStudent">Create Student</a><br />
        <h2>Exercise Page</h2>
        <a href="~/JavaScriptExercisePage">Javascript Exercise</a><br />
        <a href="~/Welcome">Welcome</a><br />
        <a href="~/DemonstrationCategories">Categories Demonstration</a><br />

    </body>
    </html>
