@page
@model BAIS3150WebAppDemo.Pages.WelcomeModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Welcome</title>
</head>
<body>
    <h1>Welcome!</h1>
    <a href="~/SignOn">I am an existing Student</a><br />
    <a href="~/NewStudent">I am a New Student</a><br />
</body>
</html>
